body {
  background-image:url(metofuji.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top: 10px;
  background-position: center-center;
}
.name h1{
  position:absolute;
  top: 5%;
  left: 30%;
  color: black; 
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
}
.about p{
  position: absolute;
  top: 30%;
  left: 30%;
  color: black; 
  font-family: helvetica;
  font-size: 18px;
  font-weight: light;
  margin: 60px auto;
  width: 40%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    left: 30px;
}
nav ul li, footer ul li {
    display: margin-right: 0px;
}
a {
    text-decoration: none;
    color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.45em;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size; 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size; 1.80em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.25em;
    line-height: 1.25em;
    font-family:'Calibri', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
